{% extends "index.html" %}

{% block title %}{{koru}}{% endblock title %}

{% block head %}
{{ super() }}
{% include "board_internal_css.html" %} 

<style>
/*for the words*/
p.kupu{
	font-size: 200%;	
}

p.kupu_link{
	font-size: 200%;
	text-decoration: underline;	
}
</style>
{% endblock head %}

{% block main_content %}
<div class="row">
	<div class="col-sm-4">
		<p class="text-center" id="group_text">pai</p>
		<div class ="text-center">
			<p id="group_score">{{pai_count}}</p>
		</div>
	</div>
	<div class="col-sm-4">
		<p class="text-center" id="group_text">tino pai</p>
		<div class ="text-center">
			<p id="group_score">{{tino_pai_count}}</p>
		</div>
	</div>
	<div class="col-sm-4">
		<p class="text-center" id="group_text">tino pai rawa atu</p>
		<div class ="text-center">
			<p id="group_score">{{tino_pai_rawa_atu_count}}</p>
		</div>
	</div>
</div>

{% include "board_core.html" %}

<div class="text-center">
<a class="btn btn-primary" style="margin-bottom:10px;" href="./board?koru={{koru}}" role="button">Hunaia ngā kupu</a>
</div>

<div class='row'>
{% set href_main = "http://maoridictionary.co.nz/search?&keywords=" %}
{% if grouped_children|length == 1 %}
	<div class="col-sm-12">
		{% for child in grouped_children[0] %}
			{% if child in pai_words %}
  				<p class="text-center kupu_link"><a href="{{ href_main + child }}">{{ child }}</a></p>			   
			{% else %}
				<p class="text-center kupu">{{child}}</p>			
			{% endif %}
		{% endfor %}
	</div>
{% elif grouped_children|length == 2 %}
	<div class="col-sm-6">
	{% for child in grouped_children[0] %}
		{% if child in pai_words %}
  				<p class="text-center kupu_link"><a href="{{ href_main + child }}">{{ child }}</a></p>			   
		{% else %}
			<p class="text-center kupu">{{child}}</p>			
		{% endif %}
	{% endfor %}
	</div>
	<div class="col-sm-6">
	{% for child in grouped_children[1] %}
		{% if child in pai_words %}
  				<p class="text-center kupu_link"><a href="{{ href_main + child }}">{{ child }}</a></p>			   
		{% else %}
			<p class="text-center kupu">{{child}}</p>			
		{% endif %}
	{% endfor %}
	</div>
{% elif grouped_children|length == 3 %}
	<div class="col-sm-4">
	{% for child in grouped_children[0] %}
		{% if child in pai_words %}
  				<p class="text-center kupu_link"><a href="{{ href_main + child }}">{{ child }}</a></p>			   
		{% else %}
			<p class="text-center kupu">{{child}}</p>			
		{% endif %}
	{% endfor %}
	</div>
	<div class="col-sm-4">
	{% for child in grouped_children[1] %}
		{% if child in pai_words %}
  				<p class="text-center kupu_link"><a href="{{ href_main + child }}">{{ child }}</a></p>			   
		{% else %}
			<p class="text-center kupu">{{child}}</p>			
		{% endif %}
	{% endfor %}
	</div>
	<div class="col-sm-4">
	{% for child in grouped_children[2] %}
		{% if child in pai_words %}
  				<p class="text-center kupu_link"><a href="{{ href_main + child }}">{{ child }}</a></p>			   
		{% else %}
			<p class="text-center kupu">{{child}}</p>			
		{% endif %}
	{% endfor %}
	</div>
{% endif %}
</div>

{% endblock main_content %}