<style type="text/css">

table.iwa{
    border-collapse:collapse;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 40px; 
    margin-top: 40px;
}

tr.iwa{} /* just in case bootstrap sets something*/

td.iwa{
    width:6em;
    height:6em;
    border-width:0.3em;
    border-style: solid;
    text-align: center;
    border-color:black;
}

div.iwa{
    font-size:5em; /*ok*/
    line-height: 1; /* override bootstrap */
}

/*remove border in the middle of any digraphs*/
{% if 0 in digraph_starts %}#koru0{border-right-style: hidden;}{% endif %}
{% if 1 in digraph_starts %}#koru1{border-right-style: hidden;}{% endif %}
{% if 6 in digraph_starts %}#koru6{border-right-style: hidden;}{% endif %}
{% if 5 in digraph_starts %}#koru5{border-right-style: hidden;}{% endif %}


#koru8{
   color:red;
}

#group_text{
	font-size:1.5em; /*ok*/
	margin-bottom: 0;
	font-weight: bold;
}

#group_score{
	display: inline;
	font-size:1.5em; /*ok*/
	color: red;
	/*border:2px solid black;*/
	padding-left: 3px;
	padding-right: 3px;
}

</style>