{% extends "index.html" %}

{% block title %}{{koru}}{% endblock title %}

{% block head %}
{{ super() }}
{% include "board_internal_css.html" %} 
{% endblock head %}

{% block main_content %}
<div class="row">
	<div class="col-sm-4">
		<p class="text-center" id="group_text">pai</p>
		<div class ="text-center">
			<p id="group_score">{{pai_count}}</p>
		</div>
	</div>
	<div class="col-sm-4">
		<p class="text-center" id="group_text">tino pai</p>
		<div class ="text-center">
			<p id="group_score">{{tino_pai_count}}</p>
		</div>
	</div>
	<div class="col-sm-4">
		<p class="text-center" id="group_text">tino pai rawa atu</p>
		<div class ="text-center">
			<p id="group_score">{{tino_pai_rawa_atu_count}}</p>
		</div>
	</div>
</div>



{% include "board_core.html" %}

<div class="text-center">
<a class="btn btn-primary" style="margin-bottom:20px;" href="./boardchildren?koru={{koru}}" role="button">Hurahia ngā kupu</a>
</div>
{% endblock main_content %}
