<table class="iwa">
<tr class="iwa">
	<td class="iwa" id="koru0"><div class="iwa">{{koru0}}</div></td>
	<td class="iwa" id="koru1"><div class="iwa">{{koru1}}</div></td>
	<td class="iwa" id="koru2"><div class="iwa">{{koru2}}</div></td>
</tr>
<tr class="iwa">
	<td class="iwa" id="koru7"><div class="iwa">{{koru7}}</div></td>
	<td class="iwa" id="koru8"><div class="iwa">{{koru8}}</div></td>
	<td class="iwa" id="koru3"><div class="iwa">{{koru3}}</div></td>
</tr>
<tr class="iwa">
	<td class="iwa" id="koru6"><div class="iwa">{{koru6}}</div></td>
	<td class="iwa" id="koru5"><div class="iwa">{{koru5}}</div></td>
	<td class="iwa" id="koru4"><div class="iwa">{{koru4}}</div></td>
</tr>
</table>