{% extends "index.html" %}
{% block title %}Contact{% endblock title%}

{% block head %}
{{ super() }}
<style type="text/css">
/*match jumbotron p*/

.container p{
	font-size:21px;
}

.form-control{
    font-size: 21px;
    font-weight: 200;
}
</style> 
{% endblock head %}

{% block main_content %}


<p>All feedback is welcome at <a href="mailto:pangakupu@gmail.com">pangakupu@gmail.com</a></p>
<p>Or use the feedback form below...</p>
<p>Please include your email address if you would like a response.</p>

<form method="post" action="thankyou">
  <div class="form-group">
    <label class="sr-only" for="Feedback">Your Feedback</label>
    <textarea rows="10" class="form-control" id="Feedback" name="feedback" required autofocus></textarea>
  </div>
  <button type="submit" class="btn btn-success" style="margin-bottom:20px;">Send Feedback</button>
</form>

{% endblock main_content %}