{% extends "index.html" %}

{% block title %}How to Play{% endblock title %}

{% block main_content %}
	<div class="jumbotron">  
	  <p class="lead"><a href="./createboard">Create a board</a> then make as many Māori words from the letters as you can.</p>        
	  <p class="lead">Minimum word length is 3 letters ('wh' and 'ng' count as 2).</p>
	  <p class="lead">You must <em>always</em> use the middle letter.</p>
	  <p class="lead">You can only use each letter once.</p>
	</div>
{% endblock main_content %}